{{>navbar}}

<div class="flex flex-col justify-center items-center h-full">
  <form hx-post="/auth/register" hx-trigger="submit" hx-target="body">
    <fieldset
      class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
      hx-post="/auth/validate/register"
      hx-trigger="change, keyup delay:200ms"
      hx-include="input"
      hx-target="body"
    >
      <legend class="fieldset-legend">Register</legend>

      <label class="label">Email</label>
      <label class="input {{#if (filterErrors errors "email")}}input-error{{/if}}">
        <input
          name="email"
          type="email"
          value="{{input.email}}"
          placeholder="Email"
          required
        />
      </label>
      {{#each (filterErrors errors "email")}}
      <p class="error">{{this}}</p>
      {{/each}}

      <label class="label">Password</label>
      <label class="input {{#if (filterErrors errors "password")}}input-error{{/if}}">
        <input
          name="password"
          type="password"
          value="{{input.password}}"
          required
          placeholder="Password"
        />
      </label>
      {{#each (filterErrors errors "password")}}
      <p class="error">{{this}}</p>
      {{/each}}

      <label class="label">Confirm Password</label>
      <label class="input {{#if (filterErrors errors "confirmPassword")}}input-error{{/if}}">
        <input
          name="confirmPassword"
          type="password"
          value="{{input.confirmPassword}}"
          required
          placeholder="Password"
        />
      </label>
      {{#each (filterErrors errors "confirmPassword")}}
      <p class="error">{{this}}</p>
      {{/each}}

      <button type="submit" class="btn btn-neutral mt-4">Register</button>
    </fieldset>
  </form>
</div>

{{>dock}}
