{{!--
https://daisyui.com/components/drawer/#navbar-menu-for-desktop--sidebar-drawer-for-mobile
--}}
<div class="drawer navbar">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar bg-base-300 w-full">
      <div class="flex-none lg:hidden">
        <label
          for="my-drawer-2"
          aria-label="open sidebar"
          class="btn btn-square btn-ghost"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="inline-block h-6 w-6 stroke-current"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </label>
      </div>
      <div class="mx-2 flex flex-row gap-2 px-2">
        {{appName}}
        <div class="relative size-6">
          <div id="offline-indicator" class="invisible absolute inset-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6 text-error animate-pulse"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m3 3 8.735 8.735m0 0a.374.374 0 1 1 .53.53m-.53-.53.53.53m0 0L21 21M14.652 9.348a3.75 3.75 0 0 1 0 5.304m2.121-7.425a6.75 6.75 0 0 1 0 9.546m2.121-11.667c3.808 3.807 3.808 9.98 0 13.788m-9.546-4.242a3.733 3.733 0 0 1-1.06-2.122m-1.061 4.243a6.75 6.75 0 0 1-1.625-6.929m-.496 9.05c-3.068-3.067-3.664-7.67-1.79-11.334M12 12h.008v.008H12V12Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="hidden flex-none ml-auto lg:block">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          {{#if user}}
          <li><a href="/auth/logout">{{t 'lang.LOGOUT'}}</a></li>
          <li><a href="/auth/profile">{{user.email}}</a></li>
          {{else}}
          <li><a href="/auth/register">{{t 'lang.REGISTER'}}</a></li>
          <li><a href="/auth/login">{{t 'lang.LOGIN'}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
  <div class="drawer-side pt-16">
    <label
      for="my-drawer-2"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4 pt-8">
      <!-- Sidebar content here -->
      {{#if user}}
      <li><a href="/auth/logout">{{t 'lang.LOGOUT'}}</a></li>
      <li><a href="/auth/profile">{{user.email}}</a></li>
      {{else}}
      <li><a href="/auth/register">{{t 'lang.REGISTER'}}</a></li>
      <li><a href="/auth/login">{{t 'lang.LOGIN'}}</a></li>
      {{/if}}
    </ul>
  </div>
</div>
<script>
  window.addEventListener('offline', () => {
    console.log('offline');
    document.getElementById('offline-indicator').classList.remove('invisible');
  });

  window.addEventListener('online', () => {
    console.log('online');
    document.getElementById('offline-indicator').classList.add('invisible');
  });
</script>
