<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">{{appName}}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      {{#if user}}
      <li><a href="/auth/logout">{{t 'lang.LOGOUT'}}</a></li>
      <li><a href="/auth/profile">{{user.email}}</a></li>
      {{else}}
      <li><a href="/auth/register">{{t 'lang.REGISTER'}}</a></li>
      <li><a href="/auth/login">{{t 'lang.LOGIN'}}</a></li>
      {{/if}}
    </ul>
  </div>
</div>
